
.productsSlider .swiper,
.LittleProductsSlider .swiper {
  width: 100%;
}

.productsSlider .swiper{
  height: 430px;
}

.productsSlider .swiper-slide {
  height: 430px;
  width: 235px;
}

.productsSlider .swiper-button-prev,
.productsSlider .swiper-button-next,
.LittleProductsSlider .swiper-button-prev,
.LittleProductsSlider .swiper-button-next {
  width:38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #E3E4E6;
  line-height: 38px;
  color: #202435;  
  --swiper-navigation-size: 20px;
}

.productsSlider .swiper-button-prev {
  left: 0px;    
  top: 50%;
  transform: translateY(-75%); 
}

.productsSlider .swiper-button-next {
  right: 0px;  
  top: 50%;
  transform: translateY(-75%);        
}

.LittleProductsSlider .swiper-button-prev {
  left: 0px;    
  top: 50%;
  transform: translateY(-50%); 
}

.LittleProductsSlider .swiper-button-next {
  right: 0px;  
  top: 50%;
  transform: translateY(-50%);        
}

.LittleProductsSlider .swiper-slide {
  height: 242px;
  width: 235px;
}

.LittleProductsSlider .swiper{
  margin-bottom: 0;
  height: 242px;
}