@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color:#35AFA0 ;
    color: white;
}
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

.container{
    padding: 0px 50px;
}

@media(max-width:550Px){
    .container{
    padding: 0px 20px;
}
}

.active{
    background-color: #F0FAFF;
    color: #35AFA0;
}

.fixed{
    background-color: #fff;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #35AFA0;
    border: 1px solid white;
    border-radius: 10px;
}

